<span>
    <div class="sidebar-content-title">
      Cameras
    </div>

    <div class="sidebar-content" style="padding-right: 30px;">
        <div class="list-group" style="-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">

            <div class="list-group-item med3d-annotation-list-item" ng-repeat="cam in renderData.cameraManager.ownCameras" ng-class="{'active' : cam === renderData.cameraManager.activeCamera}" ng-click="setActiveCam(cam)">
                <a class="med3d-annotation-sidebar-title">
                    Camera {{$index}}
                </a>
            </div>

            <span ng-show="getKeys(renderData.cameraManager.sharedCameras).length > 0">
                <div class="sidebar-content-title">
                    Shared cameras
                </div>

                <div ng-repeat="(id, data) in renderData.cameraManager.sharedCameras" style="margin-bottom: 15px;">
                    <div class="sidebar-sub-content-title" style="font-size: small; font-weight: 600">
                        User: {{data.ownerUsername}}
                    </div>

                    <div class="list-group-item med3d-annotation-list-item" ng-repeat="cam in data.list" ng-class="{'active' : cam === renderData.cameraManager.activeCamera}" ng-click="setActiveCam(cam)">
                        <a class="med3d-annotation-sidebar-title">
                            Camera {{$index}}
                        </a>
                    </div>
                </div>

            </span>
        </div>
    </div>
</span>