<div class="modal fade floating-window">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content med3d-modal">

            <div class="modal-header med3d-modal-header">
                <img class="navbar-image" src="assets/img/med3D-icon.png" width="24" height="24">
                <button type="button" class="med3d-close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sharing</h4>
            </div>

            <div class="modal-body" style="padding: 5px;">
                <div class="panel panel-default" style="margin-bottom: 5px; padding: 10px">
                    <h4 style="padding-left: 5px; font-weight: 600;" >Configure hosting settings</h4>


                    <div style="margin-top: 5px;">
                        <span style="font-weight: 700; margin-left: 5px; margin-bottom: 5px;">Username</span>
                        <input type="text" class="form-control input-username" maxlength="20" style="width: 50%; height: 30px; margin-bottom: 5px">

                        <input id="toggleCameraSharing" class="med3d-checkbox" type="checkbox" ng-model="sharingSettings.shareCamera"><span class="med3d-checkbox-text">&nbspShare Camera</span>
                        <br>
                        <input id="toggleAnnotationSharing" class="med3d-checkbox" type="checkbox" ng-model="sharingSettings.shareAnnotations"><span class="med3d-checkbox-text">&nbspShare Annotations</span>
                    </div>
                </div>
            </div>


            <div class="modal-footer med3d-modal-footer">
                <button type="button" class="btn med3d-btn-default" data-dismiss="modal">Close</button>
                <button id="startDataSharingButton" type="button" class="btn med3d-btn-primary">Start Sharing</button>
            </div>
        </div>
    </div>
</div>