<div style="background-color: rgba(255, 255, 255, 0.0); position: absolute; right: 20px; top: 50px;  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; cursor:default;">
    <svg x="0px" y="0px"
             width="145.931px" height="112.12px" viewBox="0 0 145.931 112.12" enable-background="new 0 0 145.931 112.12"
             xml:space="preserve">
        <symbol  id="NAVIGACIJA" class="drag-handle" viewBox="-39.687 -39.687 79.374 79.374">
            <g>
                <polyline fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" points="-8.374,30.581 -0.258,38.697
                    7.856,30.581        " style="pointer-events:none;"/>
                <line fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" x1="-0.258" y1="38.697" x2="-0.258" y2="20.064" style="pointer-events:none;"/>
            </g>
            <g>
                <polyline fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" points="-30.581,-8.374 -38.697,-0.258
                    -30.581,7.856       " style="pointer-events:none;"/>

                    <line fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" x1="-38.697" y1="-0.258" x2="-20.064" y2="-0.258" style="pointer-events:none;"/>
            </g>
            <g>
                <polyline fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" points="8.374,-30.581 0.258,-38.697
                    -7.856,-30.581      " style="pointer-events:none;"/>
                <line fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" x1="0.258" y1="-38.697" x2="0.258" y2="-20.064" style="pointer-events:none;"/>
            </g>
            <g>
                <polyline fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" points="30.581,8.374 38.697,0.258
                    30.581,-7.856       " style="pointer-events:none;"/>
                <line fill="none" stroke="#FDFDFE" stroke-width="1.4" stroke-miterlimit="10" x1="38.697" y1="0.258" x2="20.064" y2="0.258" style="pointer-events:none;"/>
            </g>
        </symbol>
        <g>
            <g>
                <circle class="drag-handle" fill="#637195" cx="109.962" cy="92.43" r="19.691"/>
            </g>
            <g>
                <circle class="navigator-btn-close" circle fill="#FFFFFF" cx="109.962" cy="19.692" r="19.691"/>
            </g>
            <circle class="navigator-circ-right" fill="#4CB2B2" cx="109.245" cy="56.037" r="36.686"/>
            <circle class="navigator-circ-left" fill="#C0282D" cx="36.686" cy="56.037" r="36.686"/>
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="21.7754" y1="56.0376" x2="124.5459" y2="56.0376">
                <stop  offset="0" style="stop-color:#3B3F44"/>
                <stop  offset="0.5" style="stop-color:#4D4B50"/>
                <stop  offset="1" style="stop-color:#393E42"/>
            </linearGradient>
            <circle fill="url(#SVGID_1_)" cx="73.161" cy="56.037" r="51.385"/>
            <circle class="navigator-btn-circ-nav" fill="#424143" cx="73.161" cy="56.037" r="51.385"/>
            <g>
                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="36.6104" y1="56.0376" x2="109.7109" y2="56.0376">
                    <stop  offset="0.1" style="stop-color:#C0282D"/>
                    <stop  offset="0.5153" style="stop-color:#676690"/>
                    <stop  offset="0.9" style="stop-color:#4CB2B2"/>
                </linearGradient>
                <polygon fill="url(#SVGID_2_)" points="109.278,92.589 36.61,19.919 37.042,19.486 109.711,92.156         "/>
                <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="36.6104" y1="56.0376" x2="109.7109" y2="56.0376">
                    <stop  offset="0.1" style="stop-color:#C0282D"/>
                    <stop  offset="0.5153" style="stop-color:#676690"/>
                    <stop  offset="0.9" style="stop-color:#4CB2B2"/>
                </linearGradient>
                <polygon fill="url(#SVGID_3_)" points="37.042,92.589 36.61,92.156 109.278,19.486 109.711,19.919         "/>
            </g>
            <g class="drag-handle" >
                <g>
                    <g>
                        <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="109.594" y1="105.086" x2="116.181" y2="98.499"/>
                    </g>
                    <polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="114.208,98.502 116.181,98.502 116.179,100.473             "/>
                    <polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="111.565,105.088 109.594,105.086 109.595,103.116           "/>
                </g>
                <g>
                    <g>
                        <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="109.595" y1="98.499" x2="116.182" y2="105.086"/>
                    </g>
                    <polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="116.179,103.114 116.179,105.084 114.207,105.083           "/>
                    <polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="109.594,100.472 109.595,98.499 111.565,98.5           "/>
                </g>
            </g>
            <g class="navigator-btn-close">
                <line fill="none" stroke="#424143" stroke-miterlimit="10" x1="115.946" y1="14.618" x2="109.831" y2="8.504"/>
                <line fill="none" stroke="#424143" stroke-miterlimit="10" x1="109.831" y1="14.618" x2="115.946" y2="8.504"/>
            </g>
            <g>
                <g>
                    <text transform="matrix(1 0 0 1 128.626 62.2881)" fill="#FFFFFF" font-family="'SegoeUI-Semilight'" font-size="18.8786" style="pointer-events:none;">R</text>
                </g>
                <g>
                    <text transform="matrix(1 0 0 1 7.0303 62.2881)" fill="#FFFFFF" font-family="'SegoeUI-Semilight'" font-size="18.8786" style="pointer-events:none;">F</text>
                </g>
            </g>

                <use xlink:href="#NAVIGACIJA"  width="79.374" height="79.374" x="-39.687" y="-39.687" transform="matrix(1 0 0 -1 72.5586 56.0371)" overflow="visible"/>
        </g>
        </svg>
</div>